# Godot
.godot/
.import/
*.tmp
*.log

# Exportaciones
export/
build/
dist/

# Credenciales / configuraciones sensibles
export_credentials.cfg

# Android export
/android/

# Archivos del sistema
.DS_Store
Thumbs.db